@tailwind base;
@tailwind components;
@tailwind utilities;

.MuiFormHelperText-root {
  position: absolute;
  bottom: -18px;
  font-size: 11px !important;
}

/* Table styles */
.css-1hzu6eb-MuiDataGrid-root .MuiDataGrid-cell:focus {
  outline: none !important;
}

.MuiDataGrid-columnHeaderTitle > .css-1qb993p-MuiDataGrid-columnHeaderTitle {
  font-size: 14px !important;
  font-weight: 800 !important;
}

.MuiButtonBase-root {
  text-transform: capitalize !important;
  border-radius: 8px !important;
}

.MuiInputBase-input,
.MuiSelect-select,
.MuiInputBase-root,
.MuiPickersInputBase-root {
  border-radius: 8px !important;
}
